<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagerEntities" connectionString="metadata=res://*/ProjectManagerEntityModel.csdl|res://*/ProjectManagerEntityModel.ssdl|res://*/ProjectManagerEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=C:\ProjectManager\ProjectManagerWeb\App_Data\ProjectManager.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>