<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProjectManagerEntities" connectionString="metadata=res://*/ProjectManagerEntityModel.csdl|res://*/ProjectManagerEntityModel.ssdl|res://*/ProjectManagerEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=C:\ProjectManager\ProjectManagerWeb\App_Data\ProjectManager.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ProjectManagerDAL.Properties.Settings.ProgramManagerConnectionString"
      connectionString="Data Source=ProgramManager.db.11222717.hostedresource.com;Initial Catalog=ProgramManager;User ID=ProgramManager;Password=Asd123!@#"
      providerName="System.Data.SqlClient" />
    <add name="ProjectManagerDAL.Properties.Settings.ProjectManagerConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Lauren\Documents\GitHub\SWENG500_Team1\ProjectManager\ProjectManagerWeb\App_Data\ProjectManager.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>