<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagerEntities" connectionString="metadata=res://*/Models.ProjectManagerModel.csdl|res://*/Models.ProjectManagerModel.ssdl|res://*/Models.ProjectManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\ProjectManager.mdf;integrated security=True;connect timeout=30;user instance=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>